PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIwNmYxOWJkOS0zM2RkLTRiOGUtYTAwYy1jYmNhYWQ5MzJkN2UiLCJlbWFpbCI6ImpvaG5zb25tZXNzaWxvMTlAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siaWQiOiJGUkExIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImJkODM4NGEwMjA0N2U5YTEwNjAyIiwic2NvcGVkS2V5U2VjcmV0IjoiZWVmZDA5OTdjYmMxMDhjMTA3NjM4MzhjYmQwMTY5NDk2ZWU0ZmNmYjA2M2JiODUxZDg0MmFhNGUxMDBjNGFlZCIsImlhdCI6MTY3MzExMjU2OH0.tlY8eQdrzP20Mk9AN9TJ6t5pQLfRitYOtN-OatGlE68